.pen-container {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/********** BUTTON *********/
button {
  font-family: "Courier New", sans-serif;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--hover-pressed-color);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

button.pressed {
  background-color: var(--hover-pressed-color);
}
/********** END BUTTON *********/

h1 {
  color: var(--text-color);
}

.pet {
  font-size: 100px;
  margin: 20px 0;
}

.status {
  margin: 20px 0;
  font-size: 18px;
  color: var(--text-color);
}

.pet-interactions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
