.pen-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/********** BUTTON *********/
button {
  font-family: "Courier New", sans-serif;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--primary-color) 0.15s;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--hover-pressed-color);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

button.pressed {
  background-color: var(--hover-pressed-color);
}
/********** END BUTTON *********/

.info-bar {
  width: 1300px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  margin: 50px;
}

.pet-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.pet-age {
  text-align: left;
}

.date-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.status-text {
  font-size: 20px;
}

.pet {
  font-size: 75px;
}

.status-value {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.pet-interactions {
  width: 1400px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

.pet-interactions button {
  background-color: var(--primary-color);
  transition: background-color 0.15s;
  font-size: 20px;
  width: 150px;
  height: 40px;
}
.pet-interactions button:hover {
  background-color: var(--hover-pressed-color);
}

.pet-interactions button:disabled {
  background-color: var(--primary-color);
}
