/* Default colors */
:root {
  --primary-color: #111212;
  --accent-color: #202221;
  --text-color: #fffbd4;
  --hover-pressed-color: #368f36;
  --disabled-color: #202221;
}

body {
  font-family: "Courier", sans-serif;
  text-align: center;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
