<div class="menu-container">
  <div class="settings">
    <button class="theme-selector" (click)="toggleTheme()"></button>
  </div>
  <h1 class="title">tamiffgotchi</h1>
  <div class="nav-options">
    <div class="game-options">
      <button
        (click)="onNewGameClick()"
        [class.pressed]="newGameToggle"
        [disabled]="loadGameToggle == true"
      >
        new game
      </button>
      <button
        (click)="onLoadGameClick()"
        [class.pressed]="loadGameToggle"
        [disabled]="newGameToggle == true"
      >
        load game
      </button>
    </div>
    <p class="call-to-action">choose a pet</p>
    <div class="pet-options">
      <button
        (click)="onPenOptionClick('penOne')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 1
      </button>
      <button
        (click)="onPenOptionClick('penTwo')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 2
      </button>
      <button
        (click)="onPenOptionClick('penThree')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 3
      </button>
    </div>
  </div>
</div>
