<div class="menu-container">
  <h1>tamiffgotchi</h1>
  <div class="nav-options">
    <div class="game-options">
      <button
        (click)="onNewGameClick()"
        [class.pressed]="newGameToggle"
        [disabled]="loadGameToggle == true"
      >
        new game
      </button>
      <button
        (click)="onLoadGameClick()"
        [class.pressed]="loadGameToggle"
        [disabled]="newGameToggle == true"
      >
        load game
      </button>
    </div>
    <p>choose a home</p>
    <div class="pet-options">
      <button
        routerLink="/pen-one"
        (click)="onPenOptionClick('penOne')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 1
      </button>
      <button
        routerLink="/pen-two"
        (click)="onPenOptionClick('penTwo')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 2
      </button>
      <button
        routerLink="/pen-three"
        (click)="onPenOptionClick('penThree')"
        [disabled]="newGameToggle == false && loadGameToggle == false"
      >
        pen 3
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
